node_modules

# Ignore large checkpoints at project root
checkpoint/*
!checkpoint/.gitkeep

# In case someone puts checkpoint under backend by mistake
backend/checkpoint/*
!backend/checkpoint/.gitkeep
